doctype html
html
  head
    style
      include style.css
    script.
      const whTooltips = { colorLinks: true, iconizeLinks: false, renameLinks: false }
    script(src='https://wow.zamimg.com/widgets/power.js')

  body
      .contents
        span.title= '<Sail>'
        img(src='sail.png').crest
        ol.item-grid
          each item in contents
            li.item
              a(href=`https://www.classic.wowhead.com/item=${item.id}`)
                img(src=`https://wow.zamimg.com/images/wow/icons/medium/${item.icon}.jpg`)
                if item.count > 1
                  span.count-bg= item.count
                  span.count-fg= item.count

        ol.item-list
          each item in contents
            li.item
              span.count= `${item.count} x`
              a(href=`https://www.classic.wowhead.com/item=${item.id}`, data-wh-rename-link="false", data-wh-icon-size="small")= item.name